# Import Modules

In [1]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

sys.path.insert(0, "/home/apprenant/Documents/simplon_dev/pyhon_sql/courses_hippiques")

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

from classes.Database import Database
from classes.Dataframe import Dataframe

import pandas as pd

from config import DB_PASSWORD, DB_USER

# Connection to the database

In [2]:
# Instanciate the Database Object
db = Database('localhost', DB_USER, DB_PASSWORD, 'pturf1')
# Connection
con = db.db_connection()

MySQL Database connection successful

In [3]:
# Get the first 100k rows from the database
query = """ SELECT * FROM cachedate LIMIT 100000 """

# Building the dataframe
df = Dataframe(db.build_dataframe(con, query))

# Data analysis - Dataframe informations

In [4]:
# Display the fist 10 rows of the dataframe. First look at the data
df.display_ten_rows()

,id,comp,jour,hippo,numcourse,cl,dist,partant,typec,cheque,...,updatedat,rangTxVictJock,rangTxVictCheval,rangTxVictEnt,rangTxPlaceJock,rangTxPlaceCheval,rangTxPlaceEnt,rangRecordG,appetTerrain,idChe
0,2000001,200000,2014-04-17,Newmarket,402800000,6e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,445895
1,2000002,200000,2014-04-17,Newmarket,402800000,2e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,445869
2,2000003,200000,2014-04-17,Newmarket,402800000,5e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,445872
3,2000004,200000,2014-04-17,Newmarket,402800000,3e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,449402
4,2000005,200000,2014-04-17,Newmarket,402800000,1er,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,451463
5,2000006,200000,2014-04-17,Newmarket,402800000,7e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,449400
6,2000007,200000,2014-04-17,Newmarket,402800000,8e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,452511
7,2000008,200000,2014-04-17,Newmarket,402800000,4e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,473479
8,3500001,350000,2014-05-16,Greyville,704900000,1er,1900,6,Plat,350.000 R,...,2020-08-03 18:51:48,0,0,0,0,0,0,0,0,446978
9,3500002,350000,2014-05-16,Greyville,704900000,4e,1900,6,Plat,350.000 R,...,2020-08-03 18:51:48,0,0,0,0,0,0,0,0,593429

In [5]:
print(df.df_shape())

The dataframe has 100000 rows and 124 columns

In [6]:
df.display_cols_with_null_per_cent()

KeyError: 'per_cent_null(%)'